body {
  background: #0d1117;
  color: white;
  display: grid;
  place-content: center;
  height: 100vh;
  overflow: hidden;
}

#password {
  background: #191919;
  padding: 1em;
  font-size: 1.25rem;
  color: white;
  margin: 1rem 0;
  display: none;
}
