@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins";
  border: none !important;
  outline: none !important;
}

button {
  border: 1px solid #0dcaf0 !important;
}

.btn-outline-warning {
  border: 1px solid #caab0a !important;
}

body {
  background: #0d1117;
  color: white;
  display: grid;
  place-content: center;
  height: 100vh;
  overflow: hidden;
}
h1 {
  font-weight: bolder;
}

#password {
  background: #192436;
  padding: 1em;
  font-size: 1.25rem;
  margin: 1rem 0;
  display: none;
  font-family: consolas !important;
}

.alert {
  position: absolute;
  top: 0;
  margin: 1rem 0;
  width: 35vw;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#lengthBar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #192436;
  outline: none;
}

#lengthBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #0dcaf0;
  cursor: pointer;
  border-radius: 50%;
}
